section {
    border: 1px solid gray;
    width: 300px;
    margin-bottom: 10px;
}

.foto-usuario {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.foto-post {
    width: 100%;
}

.post-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.post-footer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}