* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: yellow;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    width: 100vw;
}

.catalogo {
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    grid-template-columns: 4fr 4fr 4fr 4fr;

    row-gap: 5px;
    column-gap: 5px;
}

.catalogo div {
    padding: 10px;
    background-color: white;
}

.catalogo div p {
    margin-top: 5px;
}

input {
    height: 25px;
    width: 250px;
}

.menu-lateral {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-menu {
    font-weight: bold;
}